.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  padding: 10px 20px;
}
